.monthViewComponent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.monthViewHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 auto;
  border-bottom: 1px solid lightgray;
}

.gridWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;
}

.headerItem {
  flex: 1 1 calc(100% / 7);
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.weekRow {
  display: flex;
  flex: 1 1 auto;
  border-bottom: 1px solid lightgray;
}
